page-quotes-page {
    .author {
        color: #ccc;
        text-align: right;
        text-transform: uppercase;
        margin: 0;
        padding: 0;

        &:before {
            content: '- '
        }
    }
}
