<ion-header>

  <ion-navbar>
    <ion-title text-uppercase>{{quoteGroup.category}} quotes</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
      <ion-card *ngFor="let quote of quoteGroup.quotes;let i = index">
        <ion-card-header text-center>
          #{{i+1}}
        </ion-card-header>
        <ion-card-content>
          <p text-wrap>{{quote.text}}</p>
          <p class="author">{{quote.person}}</p>
        </ion-card-content>
        <ion-row>
          <ion-col text-right>
            <button ion-button clear small
              (click)="onAddToFavorites(quote)"
              *ngIf="!isFavorite(quote)">Favorite</button>
            <button ion-button clear small
              color="danger"
              (click)="onRemoveFromFavorites(quote)"
              *ngIf="isFavorite(quote)">Unfavorite</button>
          </ion-col>
        </ion-row>
      </ion-card>
  </ion-list>
</ion-content>
